/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /* Override back button color to be neutral */
  --ion-back-button-color: var(--ion-color-medium);
  --ion-back-button-color-hover: var(--ion-color-medium-shade);
}
